

**How to run**
Modify MySQL connection string  (host,user,passwd,database) inside llm_service.py and EmbeddingScript.py files
Insert your HuggingFace token and Gemini genai API key in settings.py file.
Now run the EmbeddingScript to create the embeddings from word file and store to MySQl databse
run the server
test on http://127.0.0.1:8000/app1/


**Required Libraries**

Django==5.1.5
django-extensions==3.2.3
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
document==1.0
docx==0.2.4
google-auth==2.38.0
google-genai==1.2.0
mysql-connector-python==9.2.0
numpy==1.26.4
requests==2.32.3
requests-toolbelt==1.0.0
scikit-learn==1.6.1
SQLAlchemy==2.0.37
sqlparse==0.5.3
huggingface-hub==0.28.1
jsonpatch==1.33
jsonpointer==3.0.0
pandas==2.2.3
pypdf==5.2.0
python-docx==1.1.2
python-dotenv==1.0.1



Workflow:
-> Fetch data from file -> create embeddings using hugging face sentence transformers -> pass embeddings to MySQL database.
-> Take input query from frontend and create embeddings
-> Retrieve embeddings from the database and use cosine similarity to match and fetch the most similar embedding
-> If the similarity score is < 0.3 pass nothing
-> Pass the question, retrieved content and last five responses to the Gemini API
-> Response returned from Gemini diplayed back to frontend
